@import "compass"

/* For a nicer looking page */
@font-face
  font-family: LobsterTwo
  src: url('../font/LobsterTwo-Bold.eot')
  font-style: normal
  font-weight: bold

@font-face
  font-family: LobsterTwo
  src: url('../font/LobsterTwo-Bold.ttf')
  font-style: normal
  font-weight: bold

html
  background-color: black
body
  color: #ddd
  font-size: 16px
  text-align: center
  font-family: Georgia, serif

h1, h2, h3
  text-shadow: 1px 1px 1px gray
  font-family: 'LobsterTwo', sans-serif
h1
  font-size: 72px
h2
  font-size: 40px

pre
  margin: 1em auto
  max-width: 30em
  text-align: left

body
  .doc
    & > .simpleCarouselViewport
      box-shadow: 0 0 1em #ff0069
      margin-top: 1em
      margin-bottom: 1em
      border-radius: 1em
      background-color: rgba(0, 0, 0, 0.8)

      &:hover
        box-shadow: none !important 
      .simpleCarousel
        margin: 0
        padding: 0
    > .prev, & > .next
      color: #FF0069
      font-size: x-large
      font-size: 8vw
      text-shadow: 0 0 1em #FF0069
      &:hover, .next:hover
        color: white
        text-shadow: 0 0 1em white

  .smallCommons
    .prev, .next
      display: none
    .simpleCarouselViewport
      max-width: 100%
      .simpleCarousel img
        margin: 3%
        padding: 0.5em
        vertical-align: middle
        @include box-shadow(2px 2px 4px black, 0 0 1em gray)

  .backgrounds
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: -1
    opacity: 0.8
    position: absolute
    overflow: hidden
    max-height: 100%
    .prev, .next
      display: none
    .simpleCarouselViewport
      max-width: 100%
      .simpleCarousel img
        vertical-align: top

.ribbon
  color: yellow
  padding: 0.2em 4em 0.2em 0
  font-size: 20px
  text-decoration: none
  @include box-shadow(0 0 1em white)

@import "css3-ribbons"
+ribbon('.ribbon', darkblue, top-left, red, 270px)
