/* For the simpleCarousel mechanism itself */
.simpleCarouselViewport, .prev, .next, .simpleCarousel > *
  display: inline-block
  vertical-align: middle

.prev, .next
  cursor: pointer

.simpleCarouselViewport
  overflow: hidden
  max-width: 85%
  margin-left: auto
  margin-right: auto

  .simpleCarousel, .simpleCarousel > *
    width: 100%
    margin: 0
    padding: 0

  .simpleCarousel
    white-space: nowrap
    -webkit-transition: none
    -moz-transition: none
    -ms-transition: none
    -o-transition: none
    transition: none
    &.animate
      -webkit-transition: all 500ms ease
      -moz-transition: all 500ms ease
      -ms-transition: all 500ms ease
      -o-transition: all 500ms ease
      transition: all 500ms ease
    *
      white-space: initial
